<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Daily Bulletin {{ cycle_info[0].iso }}</title>
	<link rel="stylesheet" href="../static/styles.css" />
	<script defer src="https://cloud.umami.is/script.js" data-website-id="c78b1615-da26-47f0-b9b2-c1eb114c4733"></script>
</head>
<body>
	<center><header>
		<p>
			<a href="https://www.uwcatlantic.org"><img class="header-logo" src="../static/uwcac.png" title="UWC Atlantic College"></a>&emsp;<a href="mailto:wellco@uwcatlantic.org"><img class="header-logo" src="../static/wellco.png" title="Wellbeing Council"></a>
		</p>
		<h1>
			Daily Bulletin
		</h1>
		<p>
			<time>
				{{ cycle_info[0].iso }}
			</time>
			<br />
			{{ cycle_info[0].weekday_str }}
			{% if cycle_info[0].codes %}
				<br />
				Codes <b>{{ cycle_info[0].codes }}</b>
			{% endif %}
		</p>
		<p class="note" style="margin-bottom: 2rem">
			Does the email look ugly?<br>Check the <a href="https://albertttan.github.io/daily-bulletin-uwcac/pages/{{ cycle_info[0].iso }}.html">online version</a>!
		</p>
	</header></center>
	<main>
		<p>
			Happy {{ cycle_info[0].weekday_str }}! Thank you for supporting the Daily Bulletin project. 
		</p>
		<ul>
			<li>
				<a href="https://calendar.app.google/2ZXbP8ayiwcRQN168">Book</a> a meeting with the WellCo chairs.
			</li>
			<li>
				<a href="https://docs.google.com/forms/d/e/1FAIpQLScZrfeln3_Z5grfPmpkooCaj1jN3quwHiNYMdSZ_bE0ckAxwA/viewform">Provide feedback</a> to WellCo through the WellCo Line.
			</li>
			<li>
				<a href="https://docs.google.com/forms/d/e/1FAIpQLScKEEHVWH2XCdWUv-kOQCeuypT-aa6VV1b7F0-M2oX3eJxRQA/viewform">Sign up</a> to take over a WellCo session.
			</li>
			<li>
				<a href="https://docs.google.com/forms/d/e/1FAIpQLSdeUJjGAcvn4ZO0zBNzX_6dxTnrzdr-CuNpoMYu_wP_j-T2Dg/viewform">Suggest</a> improvements to the Daily Bulletin project.
			</li>
			<li>
				<a href="https://docs.google.com/forms/d/e/1FAIpQLSc4havWz_MXyyt3PYe4dwcwqW1BleGt2mmepBGKb6tm00Qwkg/viewform">Unsubscribe</a> if you no longer wish to receive emails from the Daily Bulletin project.
			</li>
		</ul>
		<h2>
			Wellbeing Inspirations
		</h2>
		<p>
			Want to contribute to a future Daily Bulletin? <a href="https://docs.google.com/forms/d/e/1FAIpQLSdsKAzrklTWytv9KDYFEAU0KB-dMiTCkbHzKPAYGTTceCS6Mg/viewform">Share</a> your inspirations to give everyone some morning wellbeing energy!
		</p>
		{{ inspirations }}
		{% if exam_info %}
			<h2>
				Exam Arrangements
			</h2>
			{{ exam_info }}
		{% endif %}
		<h2>
			Delicious Dinings
		</h2>
		<table>
			<colgroup>
				<col class="width-5" />
				<col class="width-10" />
				<col />
			</colgroup>
			<thead>
				<tr>
					<th scope="col">
						Day
					</th>
					<th scope="col">
						Meal
					</th>
					<th scope="col">
						Options
					</th>
				</tr>
			</thead>
			<tbody>
				{% for index in [0, 1] %}
<!--
					{% if menu_info[index].breakfast %}
						<tr {% if index == 0 %} class="highlight" {% endif %}>
							<th scope="rowgroup" rowspan={{ menu_len[index] }}>
								{{ cycle_info[index].weekday_str[:3] }}
							</th>
							<th class="secondary" scope="row">
								Breakfast
							</th>
							<td>
								{{ menu_info[index].breakfast }}
							</td>
						</tr>
					{% endif %}
-->
					{% if menu_info[index].brunch %}
						<tr {% if index == 0 %} class="highlight" {% endif %}>
							<th scope="rowgroup" rowspan={{ menu_len[index] }}>
								{{ cycle_info[index].weekday_str[:3] }}
							</th>
							<th class="secondary" scope="row">
								Brunch
							</th>
							<td>
								{{ menu_info[index].brunch }}
							</td>
						</tr>
					{% endif %}
<!--
					{% if menu_info[index].grazing %}
						<tr {% if index == 0 %} class="highlight" {% endif %}>
							<th class="secondary" scope="row">
								Grazing
							</th>
							<td>
								{{ menu_info[index].grazing }}
							</td>
						</tr>
					{% endif %}
-->
					{% if menu_info[index].lunch_1 %}
						<tr {% if index == 0 %} class="highlight" {% endif %}>
							<th scope="rowgroup" rowspan={{ menu_len[index] - 1 }}>
								{{ cycle_info[index].weekday_str[:3] }}
							</th>
							<th class="secondary" scope="row" {% if menu_info[index].lunch_2 %} rowspan=2 {% endif %}>
								Lunch
							</th>
							<td>
								{{ menu_info[index].lunch_1 }}
							</td>
						</tr>
					{% endif %}
					{% if menu_info[index].lunch_2 %}
						<tr {% if index == 0 %} class="highlight" {% endif %}>
							<td>
								{{ menu_info[index].lunch_2 }}
							</td>
						</tr>
					{% endif %}
					{% if menu_info[index].dinner_1 %}
						<tr {% if index == 0 %} class="highlight" {% endif %}>
							<th class="secondary" scope="row" {% if menu_info[index].dinner_2 %} rowspan=2 {% endif %}>
								Dinner
							</th>
							<td>
								{{ menu_info[index].dinner_1 }}
							</td>
						</tr>
					{% endif %}
					{% if menu_info[index].dinner_2 %}
						<tr {% if index == 0 %} class="highlight" {% endif %}>
							<td>
								{{ menu_info[index].dinner_2 }}
							</td>
						</tr>
					{% endif %}
				{% endfor %}
			</tbody>
		</table>
		<p class="note">
			Retrieved from <a href="https://docs.google.com/file/d/1Ml4ivq899r0Lyn4CPOmdVU-ItYVfiyj9/edit">Shared Weekly Menu</a>.
		</p>
		<h2>
			Important Events
		</h2>
		<table>
			<colgroup>
				<col class="width-5" />
				<col class="width-10" />
				<col />
				<col class="width-10" />
			</colgroup>
			<thead>
				<tr>
					<th scope="col">
						Day
					</th>
					<th scope="col">
						Time
					</th>
					<th scope="col">
						Event
					</th>
					<th scope="col">
						Location
					</th>
				</tr>
			</thead>
			<tbody>
				{% for index in [0, 1] %}
					{% for event in range(event_len[index]) %}
						<tr {% if index == 0 %} class="highlight" {% endif %}>
							{% if event == 0 %}
								<th scope="rowgroup" rowspan={{ event_len[index] }}>
									{{ cycle_info[index].weekday_str[:3] }}
								</th>
							{% endif %}
							<th class="secondary" scope="row">
								{{ event_info[index][event].when }}
							</th>
							<td>
								{{ event_info[index][event].what }}
							</td>
							<td>
								{{ event_info[index][event].where }}
							</td>
						</tr>
					{% endfor %}
				{% endfor %}
			</tbody>
		</table>
		<p class="note">
			Retrieved from <a href="https://docs.google.com/spreadsheets/d/10utzHFZaCT_4gW9h9JkF0N9WsRjWoDQZq84_Gv0O5cI/edit">What's On This Week</a>.
		</p>
		<div class="columns">
			<div class="column">
				<h2>
					Today in History
				</h2>
				<ul>
					{{ history_info[0] }}
					{{ history_info[1] }}
				</ul>
				<p class="note">
					Retrieved from <a href="https://en.wikipedia.org/wiki/Wikipedia:Selected_anniversaries">Wikipedia</a>.
				</p>
			</div>
			<div class="column">
				<h2>
					Today in News
				</h2>
				<ul>
					{% for index in range(3) %}
						<li>
							{{ news_info[index] }}
						</li>
					{% endfor %}
				</ul>
				<p class="note">
					Retrieved
					{% if news_info[-1] %}
						by PeaCo News Taskforce.
					{% else %}
						from <a href="https://apnews.com/world-news">the Associated Press</a>.
					{% endif %}
				</p>
			</div>
		</div>
	</main>
	<center><footer>
		<p class="note" style="margin-top: 2rem">
			Part of the Daily Bulletin Project<br>by <b>Albert Tan</b>
		</p>
		<p>
			<a href="https://albertttan.github.io/daily-bulletin-uwcac/">Home Page</a> · <a href="https://albertttan.github.io/daily-bulletin-uwcac/pages/">Archive</a> · <a href="mailto:a24ytan@uwcatlantic.org">Contact Us</a>
		</p>
	</footer></center>
</body>
</html>
